<%- include('partials/header') -%>

<div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">

            <h1>About this App</h1>
            <p>This was started as my 100 hours project for 100DEVS! Working my way through figuring out how to get everything working correctly has DEFINITLEY taken me more than 100 hours to do haha.
                This project has been fun to work on, and despite the many frustrations, the "ah-ha!" moments have made it worth it for me. I'm aware that in its current state the app looks pretty janky but im hoping to work on making everything pretty
                after all the functionality is complete. There's still a lot I would like to add and work on. I started this for my interest in reading and my activity in my current bookclub and it would be nice to have a pace where all the info was organized
                in one location! That said, in its current state, the app at the moment does not have much use outside of a little sample or class project, so witht hat said I have a list of things I hope to add/change in the future:
            </p>
            <div class="d-flex justify-content-center">
            <ul class="text-left">
                <li>* Complete UI overhaul</li>
                <li>* Adding friends</li>
                <li>* Schedule and push notifications for group discussions</li>
                <li>* Page tracker</li>
                <li>* Comments/rating system for users to rate their club's books</li>
                <li>* Invite links/ private book clubs</li>
                <li>* Track user milestones (books read, pages read, ect)</li>
            </ul>
        </div>
            <p>I hope to keep working on this and actually make clubReads useful to some extent! Thank you for checking out my project and if you have any 
                comments/suggesitons/would like to help out please check out <a href="https://github.com/camerontorres/ClubReads">the repo on github!</a> <span class="fa-regular fa-smile"></span>
            </p>
        </div>
    </div>
</div>





</div>







<%- include('partials/footer') -%>