<%- include ('partials/header.ejs') %>
<body>
<div class="jumbotron text-light" style="background-image: url(/Public/images/mainPic.jpg); height: 100%;">
    <div class="overlay"></div>
    
    <div class="content-container">
    
        <% if (!user) { %>
            <h3 class="pl-2">Book Clubs Made Easy.<br> Experience the Joy of Reading with ClubReads</h3>

            <div class="row d-flex flex-row justify-content-center ">
            <div class="row  ">
        
                <div class="m-5">
                    <a href="/login" class="btnMain btn-primary"> login</a>
                </div>
                <div class="m-5">
                    <a href="/signUp" class="btnMain btn-primary"> sign up</a>
                </div>
            </div>
            
        
         
          <% } else{  %>
            <h3 class="text-center">Happy reading!</h3>
            

            <div class="row d-flex flex-row justify-content-center">
           

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column flex-md-row  align-items-center justify-content-between my-auto text-nowrap flex-wrap" style="width: 100%;">
                        <div class=" col-md-3 my-5">
                            <a href="#" class="btnMain btn-primary nowrap text-nowrap"> view my club (WIP)</a>
                        </div>
                        <div class=" col-md-3  my-5">
                            <a href="/readingList" class="btnMain btn-primary text-nowrap"> view my book (WIP)</a>
                        </div>
                        <div>
                        <div class=" col-md-3  my-5">
                            <a href="/bookclubs" class="btnMain btn-primary text-nowrap"> view clubs</a>
                        </div>
                    </div>

                
                   
                
                    <div>
                        <div class="col-md-3  my-5">
                            <a href="/logout" class="btnMain2 btn-danger text-nowrap"> logout</a>
                        </div>
                        
                    </div>
                </div>
            </div>
                
        </div>
        <div>
            <div id='calendar' data-events="<%= JSON.stringify(user.calendar) %>" class="bg bg-light text-dark"></div>
        </div>
            
            
            <% } %>
        </div>


        </div>

       
      
    

    </div>
    <% if (!user) { %>
    <div>
        <div class="row my-5">
            <div class="col-6"> 
                <div class="container-fluid text-center">
                    <h2>What is ClubReads?</h2>
                    <p>ClubReads is meant to help you connect and keep track of bookclub activities and members.
                        Users can join bookclubs and keep track of previous and future books to be read as well as connect
                        with other users and find common interests through literature. ClubReads is a work in progress so changes will be made 
                        frequently with more updates and interactivity!
                    </p>

                </div>
            </div>
            <div class="col-6"> 
                <div class="container-fluid text-center">
                    <h2>How do I start?</h2>
                    <p>Simply sign up and browse the available clubs! You can see what the prior, current, and future books
                        are to get a sense of whether its a good fit for you! 
                    </p>

                </div>
            </div>
        </div>
       
    <% } %>
   
        
</div>


    
<%- include ('partials/footer.ejs') %>