<%- include ('partials/header.ejs') %>
<body>
 <h2>hello</h2>




<% if (user) { %>
    <div>
    <h1>You're logged in</h1>
    </div>

    <div>
        <a href="/logout" class="btn btn-danger"> logout</a>
    </div>
    <div>
        <div>
            <a href="#" class="btn btn-primary"> view my club</a>
        </div>
        <div>
            <a href="#" class="btn btn-primary"> view my book</a>
        </div>
        <div>
            <a href="/bookclubs" class="btn btn-primary"> view clubs</a>
        </div>

    </div>

    <div>
        
    </div>
  <% } else{%>

    <div>
        <a href="/login" class="btn btn-primary"> login</a>
    </div>
    <div>
        <a href="/signUp" class="btn btn-primary"> sign up</a>
    </div>
    
    <div>
        time to login!
    </div>
    <% } %>

  

    
    
<%- include ('partials/footer.ejs') %>