<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap" style="padding: 0;">
  <div class="row p-0 m-0" style="min-height: 500px; width: 100vw;">
      <div class="col-6 p-0">
          <div class="mt-5 mb-5">
            <div class="mb-3 d-flex flex-column">
             
            

            <!----------profPic end----------->
            
            
               


          </div>

            </div>
            
                  
          <!------------->
      </div>
      <div class="col-6 p-0">
        <div class="mt-5 mb-5">
          <div class="align-self-center text-center">
            
           

          
        </div>
        
      </div>
      
    </div>
  </div>
</div>
